* {
            margin: 0;
            padding: 0;
            font-family: 'Times New Roman', Times, serif;
        }

        .container {
            width: 960px;
            height: 720px;
            background-color: #fbf2e9;
            margin: 0 auto;

        }

        .header {
            width: 100%;
            height: 100px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .header_menu {
            display: flex;
            gap: 20px;
            list-style: none;
        }

        .header_menu li {
            cursor: pointer;
            transition: all 0.3s;
        }

        .header_menu li:hover {
            color: #721e24;
            transform: translate(0, -2px);
        }

        .header_icon {
            gap: 20px;
            display: flex;
            cursor: pointer;
        }

        .icon {
            transition: all 0.3s;
        }

        .icon:hover {
            transform: scale(1.5);
        }

        .body {
            width: 100%;

            display: flex;
            gap: 30px;
            position: relative;
        }

        .body_left {
            width: 50%;
        }

        .body_left img {
            width: 90%;
        }

        .body_right {
            width: 40%;
            padding-left: 20px;
        }

        .body_right p {
            font-size: 20px;
            width: 80%;
            text-align: start;

        }

        .body_right img {
            height: 70%;
        }

        .body_play {
            position: absolute;
            bottom: 50px;
            right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .circle {
            font-size: 50px;
            cursor: pointer;
            transition: all 0.3s;
        }

        .circle:hover {
            transform: scale(1.1);
        }

        .body_btn {
            position: absolute;
            right: 45%;
            top: 35%;

        }

        a {
            text-decoration: none;
            color: black;
            font-weight: 500;

        }

        button {
            border-radius: 100%;
            height: 80px;
            width: 80px;
            border: 1px solid rgb(189, 178, 178);
            background-color: #fbf2e9;
            cursor: pointer;
            transition: all 0.3s;
        }

        button:hover {
            background-color: #ffffff;
            transform: scale(1.1);
        }

        .footer {
            padding: 20px;
            width: 100%;

            display: flex;

        }

        .footer p {
            width: 70%;
        }